.header {
  padding: 0 250px;

  background: rgb(242, 246, 250);

  &__top {
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &-logo {
      display: flex;
      align-items: center;

      text-decoration: none;

      &_img {
        width: 30.9px;
        height: 33px;
      }

      &_text {
        color: rgb(30, 30, 30);
        font-size: 16px;
        font-weight: 700;

        margin: 0 0 0 4px;
      }
    }

    &-buttons {
      &_add {
        width: 230px;
        height: 30px;

        border-radius: 5px;
        background: rgb(0, 142, 197);
        color: rgb(242, 246, 250);
        font-size: 16px;
        font-weight: 400;
        border: 0;

        cursor: pointer;
      }

      &_login {
        width: 90px;
        height: 30px;

        border-radius: 5px;
        background: rgb(166, 203, 218);
        color: rgb(0, 142, 197);
        font-size: 16px;
        font-weight: 400;
        border: 0;

        margin: 0 0 0 43px;

        cursor: pointer;
      }
    }
  }

  &__bot {
    display: flex;
    align-items: center;
    height: 50px;

    &-link {
      color: rgb(30, 30, 30);
      font-size: 16px;
      font-weight: 600;

      margin: 0 40px;
      text-decoration: none;
      cursor: pointer;

      &:first-child {
        margin: 0 40px 0 0;
      }

      &:last-child {
        margin: 0 0 0 40px;
      }
    }
  }
}
